@page "/"

@using Application.DTOs
@using Microsoft.AspNetCore.Components.Authorization
@using WebUI.Services.UserAccountServices
@using WebUI.Services.GuardServices

@inject IGuardService guardService
@inject NavigationManager navigationManager
@inject CurrentUserDto currentUser
@inject CurrentUserService currentUserService

<AuthorizeView>
    <Authorized>
        @if (isLoadingType)
        {
            <MudProgressCircular Color="Color.Primary" Style="height:100px; width:100px; position:fixed; top:40%; left:50%;" Indeterminate="true" />
        }
        else
        {
            <MudContainer Class="w3-display-container w3-grayscale-min w3-display-left w3-text-white" Style="height: 100%" MaxWidth="MaxWidth.ExtraExtraLarge">
                <div class="pt-4" style="padding:24px;">
                    <br><span class="w3-hide-small" style="font-size: 50px;">Guard Planner</span>
                    <br><img src="favicon.png" alt="Guard Planner Image" style="max-width: 80%; height: auto;" />
                </div>
            </MudContainer>
        }
    </Authorized>
    <NotAuthorized>
        <MudContainer Class="pt-16 w3-display-container w3-grayscale-min w3-display-left w3-text-white" Style="height: 100%" MaxWidth="MaxWidth.ExtraExtraLarge">
            <div class="w3-overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.4); z-index: 1;"></div>
            <div class="pt-16" style="padding:48px; position: relative; z-index: 2;">
                <br><br><span class="w3-hide-small" style="font-size: 50px; font-weight: bold;">Bun venit la Platforma Guard Planner</span><br>
                <p><MudButton Href="login" Variant="Variant.Outlined" Color="Color.Primary" Style="font-size: 20px; padding: 12px 24px;">Conectare</MudButton></p><br />
                <p style="font-size: 18px; color: #D3D3D3;">Dacă nu aveți un cont, faceți <a href="register" style="color: #2196F3; text-decoration: none; font-weight: bold;">clic aici</a> pentru a vă înregistra !</p>
            </div>
        </MudContainer>
    </NotAuthorized>
</AuthorizeView>

@code {
    public bool isLoadingType = true;

    protected override async Task OnInitializedAsync()
    {
        await currentUserService.InitializeAsync();

        if (!currentUser.IsAuthenticated)
        {
            navigationManager.NavigateTo("/");
        }
        else
        {
            switch (currentUser.UserRole)
            {
                case "Administrator":
                    navigationManager.NavigateTo("/");
                    break;
                case "Lucrător":
                    navigationManager.NavigateTo("/");
                    break;
                default:
                    break;
            }
        }

        isLoadingType = false;
        StateHasChanged();
    }
}
